  <br>
  <br>
  <br><br>
  <h4><i class="fa fa-calendar-check-o" aria-hidden="true"></i>&nbsp;&nbsp;Mes réservations </h4>
  <br>
  <br>
    <%= render "partials/booking_index", locals: {season: "printemps", bookings: @bookings_spring, products: @products_spring} %>
  <br>
    <%= render "partials/booking_index", locals: {season: "été", bookings: @bookings_summer, products: @products_summer} %>
