  <br>
  <br>
  <h4><i class="fa fa-calendar-check-o" aria-hidden="true"></i>  Vos réservations </h4>
  <br>
  <br>
    <%= render "partials/booking_index", locals: {season: "printemps", bookings: @bookings_spring, products: @spring_products} %>
  <br>
  <br>
  <br>
    <%= render "partials/booking_index", locals: {season: "été", bookings: @bookings_summer, products: @summer_products} %>
  <br>
  <br>