Bonjour <%= @user.first_name %>, <br>

<p> Pour réinitialiser votre mot de passe, cliquez sur le lien ci-dessous: </p>

<% if Rails.env.production? %>
  <%= link_to "Réinitialiser mon mot de passe", "https://www.lesfillesdantoine.com/passwords/reset/#{@user.password_reset_token}" %>  
<% else %>
  <%= link_to "Réinitialiser mon mot de passe", "http://localhost:3000/passwords/reset/#{@user.password_reset_token}" %>  
<% end %>

<p> Si vous n'avez pas demandé la réinitialisation de votre mot de passe, veuillez ignorer cet email. </p>

<p> Cordialement, </p>

<p> Antoine (et ses filles) </p>



