

<div class="sidenav">

  <a href="/"><%= image_tag "logo.png" %>  </a>
  <br>
  <a href="/profile"> <i class="fa fa-address-card" aria-hidden="true"></i> Profil</a>
  <br>
  <a href="/admin/users"> <i class="fa fa-users" aria-hidden="true"></i> Clients</a>
  <br>
  <a href="/admin/bookings"> <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Réservations</a>
  <br>
  <a href="/admin/products"> <i class="fa fa-cubes" aria-hidden="true"></i> Produits</a>
  <br>
  <a href="/admin/posts"> <i class="fa fa-newspaper-o" aria-hidden="true"></i> Posts</a>
  <br>
  <br>
  <br>
  <a href="/logout"> <i class="fa fa-sign-out" aria-hidden="true"></i> Déconnexion</a>
</div>

