<div style="margin-left:<%=browser_info.mobile? ? '5px' : '10%' %>;width:<%=browser_info.mobile? ? "98%" : "550px" %>; text-align:justify;margin-right:200px" class="alert alert-success img-responsive" role="alert">
  
  <b> <i class="fa fa-forumbee" aria-hidden="true"></i> &nbsp;&nbsp; Pourquoi réserver ?</b>  <br>  <br>
  <i>Les réservations vous assurent que les pots de miel que vous souhaitez seront bien mis de côté pour vous après chaque récolte.</i> <br>  
  <hr>
  <b> <i class="fa fa-forumbee" aria-hidden="true"></i> &nbsp;&nbsp;J'ai réservé... et maintenant ? </b> <br>  <br>
  <i> Une fois la récolte du miel terminée, vous serez informé(e) par email et il ne vous restera plus qu'à venir le retirer en main propre.</i> <br> 
  <hr>
  <b> <i class="fa fa-forumbee" aria-hidden="true"></i> &nbsp;&nbsp;Quand les récoltes ont-elles lieu ? </b> <br>  <br>
  <i> La récolte de printemps a généralement lieu à la mi-mai et celle d'été à la fin du mois de juillet.</i> <br>  
  <hr>
  <b> <i class="fa fa-forumbee" aria-hidden="true"></i> &nbsp;&nbsp;Comment payer les pots réservés ? </b> <br>  <br>
  <i> Les réservations de pots ne nécessitent aucun prépaiement et le règlement se fait directement auprès d'Antoine au moment de leur réception. </i><br> 
  <hr>
  <b> <i class="fa fa-forumbee" aria-hidden="true"></i> &nbsp;&nbsp;Comment annuler ma réservation ? </b> <br>  <br>
  <i> Vous pouvez retirer des produits de vos réservations en cliquant sur le bouton 'Annuler' à la droite de chaque réservation. </i>
  
</div>