
<footer id="footer">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #242829">
    © 2020 - 
    <a class="text-light" href="https://www.lesfillesdantoine.com/">© 2021 - LesFillesDAntoine.com</a>
  </div>
  <!-- Copyright -->
</footer>