<div id="mySidenav" class="sidenav_visitor_mobile">
  </br>
  </br>
  <a href="/"><%= image_tag "logo.png" %>  </a>
  </br>
  <h1> <a href="/"onclick="closeNav()" >Accueil</a> </h1> 
  </br>
  <h1> <a href="/products" onclick="closeNav()">Les produits</a></h1> 
  </br>
  <h3> <a href="/register" onclick="closeNav()">Créer un compte</a></h3> 
  </br>
  <h3> <a href="/login" onclick="closeNav()">Connexion</a></h3> 
</div>

