<div id="mySidenav" class="sidenav_visitor">
  </br>
  </br>
  <a href="/"><%= image_tag "logo.png" %>  </a>
  </br>
  <a href="/"onclick="closeNav()" >Accueil</a>
  </br>
  <a href="/products" onclick="closeNav()">Les produits</a>
  </br>
  <a href="/register" onclick="closeNav()">Créer un compte</a>
  </br>
  <a href="/login" onclick="closeNav()">Connexion</a>
</div>

