<div id="mySidenav" class="sidenav_visitor_mobile">
  <center> <%= image_tag "logo.png" %> </center> 
  <table class="table" style="width: 100%">
  <tr>
    <th class="align-middle" style="width: 5%">  </th>
    <th class="align-middle" style="width: 90%">  </th>
    <th class="align-middle" style="width: 5%">  </th>
  </tr>
  <tr>
    <td class="align-middle"> <a href="/"onclick="closeNav()" ><i class="fa fa-home " aria-hidden="true"></i> </a> </td>
    <td class="align-middle"> <a href="/"onclick="closeNav()" >Accueil</a> </td>
    <td class="align-middle"> <a href="/"onclick="closeNav()" ><i class="fa fa-angle-right" aria-hidden="true"></i></a> </td>
  </tr>
  <tr>
    <td class="align-middle"> <a href="/products"onclick="closeNav()" ><i class="fa fa-cubes" aria-hidden="true"></i></a></td>
    <td class="align-middle"> <a href="/products"onclick="closeNav()" >Les produits</a> </td>
    <td class="align-middle"> <a href="/products"onclick="closeNav()" ><i class="fa fa-angle-right" aria-hidden="true"></i></a> </td>
  </tr>
  <tr>
    <td class="align-middle"> <a href="/register"onclick="closeNav()" ><i class="fa fa-user-circle-o" aria-hidden="true"></i></a></td>
    <td class="align-middle"> <a href="/register"onclick="closeNav()" >Créer un compte</a> </td>
    <td class="align-middle"> <a href="/register"onclick="closeNav()" ><i class="fa fa-angle-right" aria-hidden="true"></i></a> </td>
  </tr>
  <tr>
    <td class="align-middle"> <a href="/login"onclick="closeNav()" ><i class="fa fa-sign-in" aria-hidden="true"></i></a></td>
    <td class="align-middle"> <a href="/login"onclick="closeNav()" >Connexion</a> </td>
    <td class="align-middle"> <a href="/login"onclick="closeNav()" ><i class="fa fa-angle-right" aria-hidden="true"></i></a> </td>
  </tr>

  </table>

</div>

