<br><br><br><br>
<h3> Votre Profil </h3>
<br>
<p>Prénom: <%=@user.first_name.capitalize %> </p>
<p>Nom: <%=@user.last_name.capitalize %> </p>
<p>Email: <%=@user.email%> </p>
<p>Numéro de téléphone: <%=@user.phone_number%> </p>

<a class="btn btn-outline-secondary" href='/profile/edit'><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; Modifier</a>

<a class="btn btn-outline-secondary" href='/user/password/edit'><i class="fa fa-key fa-fw" aria-hidden="true"></i>&nbsp; Changer de mot de passe</a>
