<center>
  <div class=<%=browser_info.mobile? ? "top-nav-content-mobile" : "top-nav-content" %>> </div>

  <h3> Mot de passe oublié ?</h3>
  <br>
  <p> Entrez l'adresse email utilisée lors de votre inscription, <br> pour recevoir un lien et réinitialiser votre mot de passe. </p>
  
  <br>
  <%= form_tag passwords_path, :method => :post do %>
      <%= text_field_tag :email, params[:email], placeholder: ' Email *' %>
      <br><br>  
      <p> <%= submit_tag "Continuer", class: "btn btn-primary"  %> </p>
  <% end %>
</center> 