<center>
  <div class=<%=browser_info.mobile? ? "top-nav-content-mobile" : "top-nav-content" %>> </div>

  <h3> Mot de passe oublié ?</h3>
  <br><br>  
  
  <div class="alert alert-primary password-reset" role="alert">
    <p> &#9312; &nbsp;&nbsp;Entrez l'email de votre compte. </p>
  </div>
  
  <%= form_tag passwords_path, :method => :post do %>
      <%= text_field_tag :email, params[:email], placeholder: ' Email *', style: "vertical-align:middle" %> &nbsp;&nbsp;
      <%= submit_tag "Continuer", class: "btn btn-primary"  %> 
  <% end %>
  <br>
  <br>
  <div class="alert alert-primary password-reset" role="alert">
    <p> &#9313; &nbsp;&nbsp; Recevez notre email. </p>
  </div>
  <br>
  <div class="alert alert-primary password-reset" role="alert">
    <p> &#9314; &nbsp;&nbsp; Cliquez sur le lien de réinitialisation. </p>
  </div>
  <br>
  <div class="alert alert-primary password-reset" role="alert">
    <p> &#9315; &nbsp;&nbsp; Entrez un nouveau mot de passe.</p>
  </div>
  <br>

</center> 