/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "tempusdominus-bootstrap-4.css";
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css);
@import "bootstrap";

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), image-url("main_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 100px;
  position: relative;
  max-width: 480px;
}

.hero-text {
  color: rgb(255, 255, 255);
  font-size: 70px;
  padding-top: 8%;
  padding-right: 200px;
  padding-bottom: 7%;
  padding-left: 200px;
  text-align: center;
  font-family: 'pacifico';
}

.hero-text-mobile-nav {
    color: #555555;
    font-size: 50px;
    width:80%;
    text-align: center;
    font-family: 'pacifico';
    margin-top: 50px;
    margin-bottom: 20px;
  }

.alert-fixed {
    position:fixed; 
    top: 0px; 
    left: 0px; 
    width: 100%;
    z-index:2; 
    border-radius:0px;
    margin-top: 65px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: 'lato-bold';
}

.popover {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

textarea {
  resize: none;
  border-radius: 5px;
  border: 2px solid #ccc;
  font-family: 'lato-regular';
  outline: none;
  overflow: auto;
}

input[type=text]:focus {
  background-color: rgb(253, 248, 241);
}

input[type=text] {
  height: 30px;
  width: 170px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-family: 'lato-regular';
}

input[type=password] {
  height: 30px;
  width: 170px;
  border: 2px solid #ccc;
  border-radius: 5px
}
input[type=number] {
  border: 2px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.alert-fixed-mobile {
    position:sticky; 
    top: 0px; 
    left: 0px; 
    width: 100%;
    z-index:0; 
    border-radius:0px;
    margin-top: 35px;
}

// .hero-text-style-mobile {
//   color: rgb(255, 255, 255);
//   font-size: 40px;
//   padding-top: 8%;
//   padding-right: 200px;
//   padding-bottom: 7%;
//   padding-left: 200px;
//   text-align: center;
//   font-family: 'pacifico';
// }

#bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), asset-data-url("background.jpg");
  width: 100%;
  height: 10%; 
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 40px;
  margin-top: 20px;
}

#bg_mobile {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), asset-data-url("background_mobile.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  margin-top: 20px;
  margin-bottom: 25px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .hero-text-mobile {
    color: #fcf8f8;
    font-size: 50px;
    width:80%;
    text-align: center;
    font-family: 'pacifico';
  }
}

.top-nav-content {
  margin-top: 120px;
}

.top-nav-content-mobile {
  margin-top: 45px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#post_image {
  size: 200;
  background-repeat: no-repeat;
  position: relative;
}

.reg-content-text {
  font-family: 'lato-regular';
}

.reg-content-text-bold {
  font-family: 'lato-bold';
}

p {
  font-family: 'lato-regular';
}

h2,h3,h4,h5,h6 {
  font-family: 'lato-bold';
}

.products {
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
}

.nav-link {
      padding: 10px 20px 10px 0px;
      text-decoration: none;
      font-size: 15px;
      color: #818181;
      display: block;
}

.link {
      text-decoration: none;
      color: #818181;
}

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}

/* Side nav bar for admin*/
.sidenav {
  height: 100%;
  width: 270px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #febf43;
  overflow-x: hidden;
  padding-top: 0px;
}

.sidenav a {
      padding: 0px 20px 0px 0px;
      text-decoration: none;
      font-size: 15px;
      color: #818181;
      display: block;
}

.btn-warning {
    background-color: #febf43 !important;
}

.sidenav_visitor {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#febf43;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav_visitor a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  text-align:center;
}

.sidenav_mobile {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#febf43;
  overflow-x: hidden;
  padding-top: 5px;
  transition: 0.3s;
}

.sidenav_mobile a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  text-align:left;
}

.sidenav a:hover {
  color: #f1f1f1;
}


.main {
  margin-left: 300px;   /* Same as the width of the sidenav */
  margin-top: 70px;     /* Same as the width of the sidenav */
  padding: 0px 10px;
}

.alert-admin {
  top: 0px; 
  left: 0px; 
  width: 100%;
  z-index:9999;   
  position:fixed; 
  border-radius:0px;
  margin-top: 40px;
  margin-left: 310px;
}


#main {
  transition: margin-left .5s;
  // padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .hero-text-style {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-top: 8%;
    padding-right: 200px;
    padding-bottom: 7%;
    padding-left: 200px;
    text-align: center;
    font-family: 'pacifico';
  }
}

.alert-container {
  position: relative;
}

@font-face {
  font-family: 'pacifico';
  src:font-url('Pacifico-Regular.ttf');
}

@font-face {
  font-family: 'lato-bold';
  src:font-url('Lato-Bold.ttf');
}

@font-face {
  font-family: 'lato-regular';
  src:font-url('Lato-Regular.ttf');
}