<div id="mySidenav" class="sidenav_mobile">

  <center>  
    <div class="hero-text-mobile-nav" >
      Les Filles d'Antoine
    </div>    
  </center> 

  <table class="table" style="width: 100%">
  <tr>
    <th style="border: 0; width: 2%" class="align-middle" >  </th>
    <th style="border: 0; width: 93%" class="align-middle" >  </th>
    <th style="border: 0; width: 5%" class="align-middle" >  </th>
  </tr>
  <tr  >
    <td style="border-top: 1px dashed #818181" class="align-middle"> <a href="/"onclick="closeNav()" ><i class="fa fa-home " aria-hidden="true"></i> </a> </td>
    <td style="border-top: 1px dashed #818181" class="text-left"> <a href="/"onclick="closeNav()" >Accueil</a> </td>
    <td style="border-top: 1px dashed #818181" class="align-middle"> <a href="/"onclick="closeNav()" ><i class="fa fa-angle-right" aria-hidden="true"></i></a> </td>
  </tr>
  <tr>
    <td style="border-top: 1px dashed #818181" class="align-middle"> <a href="/products"onclick="closeNav()" ><i class="fa fa-star-o" aria-hidden="true"></i></a></td>
    <td style="border-top: 1px dashed #818181" class="text-left"> <a href="/products"onclick="closeNav()" >Les produits d'Antoine</a> </td>
    <td style="border-top: 1px dashed #818181" class="align-middle"> <a href="/products"onclick="closeNav()" ><i class="fa fa-angle-right" aria-hidden="true"></i></a> </td>
  </tr>
  <tr>
    <td style="border-top: 1px dashed #818181" class="align-middle link"><a> <i class="fa fa-calendar" aria-hidden="true"></i></a></td>
    <td style="border-top: 1px dashed #818181" class="text-left"> <a href="/reservation"onclick="closeNav()">Les Réservations </a> </td>
    <td style="border-top: 1px dashed #818181" class="align-middle link"> <a> <i class="fa fa-angle-right" aria-hidden="true"></i></a> </td>
  </tr>
  <tr>
    <td style="border-top: 1px dashed #818181; border-bottom: 1px dashed #818181" class="align-middle"> <a href="/login"onclick="closeNav()" ><i class="fa fa-sign-in" aria-hidden="true"></i></a></td>
    <td style="border-top: 1px dashed #818181; border-bottom: 1px dashed #818181" class="text-left"> <a href="/login"onclick="closeNav()" >Connexion</a> </td>
    <td style="border-top: 1px dashed #818181; border-bottom: 1px dashed #818181" class="align-middle"> <a href="/login"onclick="closeNav()" ><i class="fa fa-angle-right" aria-hidden="true"></i></a> </td>
  </tr>

  </table>

   <center>
    <div style="width:50px;" >
      <%= image_tag "logo.png",:style => "width:50px" %>
    </div>    
  </center> 

</div>

<%= render "partials/connexion_modal" %>