</br>
</br>
</br>
</br>
</br>
<% unless @products_spring.empty? %>
  <h4> Pour la récolte printemps <%=Date.current.year%>, vous pouvez réserver les produits suivants: </h4> </br>
    <% @products_spring.each do |product| %>
      <div>
        <h4> <%= product.description %> </h4>
      </div>
      </br>
    <% end %>
<% end %>

<% unless @products_summer.empty? %>
  <h4> Pour la récolte été <%=Date.current.year%>, vous pouvez réserver les produits suivants: </h4> </br>
  <% @products_summer.each do |product| %>
    <div>
      <h4> <%= product.description %> </h4>
    </div>
    </br>
  <% end %>
<% end %>

<a class="btn btn-outline-warning" role="button" aria-pressed="true" data-toggle="modal" data-target="#exampleModal"> <i class="fa fa-rocket" aria-hidden="true"></i> &nbsp; Réservez des pots</a>

<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Vous y êtes presque !</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Connectez-vous pour réserver des pots...
        
      </div>
      <div class="modal-footer justify-content-between" style='text-align:center'>
        
          <div>
            Je n'ai pas encore de compte <br><br>
            <a href="/register" class="btn btn-outline-primary" role="button" aria-pressed="true">Je m'inscris</a>
            <br><br>
            ~  OU  ~
            <br><br>
            J'ai déjà un compte <br><br>
            <a href="/login" class="btn btn-outline-primary" role="button" aria-pressed="true">Je me connecte</a>
          </div>
        
      </div>
    </div>
  </div>
</div>