<div class=<%=browser_info.mobile? ? "top-nav-content-mobile" : "top-nav-content" %>> </div>

<div style="padding-left: <%=browser_info.mobile? ? 0 : 10%>%; padding-right: <%=browser_info.mobile? ? 0 : 10%>%" >
      <div class="card img-responsive border-white">
        <div class="card-header">
          <h4> <b> Le miel de printemps </b></h4>
        </div>
        <br> 
        <div class="text-justify" style="padding-left: 30px; padding-right: 30px; float:right;">
          Les trois premiers mois de l’année sont caractérisés par une reprise progressive de la végétation et du développement des ruches. Les premières belles journées procurent aux abeilles du pollen de noisetier et de saule.
        </div>
        <br>
        <div class="text-justify" style="padding-left: 30px; padding-right: 30px; float:right;">
          En avril, avec l’allongement des jours et l’augmentation des températures, les fleurs commencent à produire plus de nectar.
        </div>
        <br>

      </div>
      <br> <br>

    <div class="card img-responsive border-white">
        <div class="card-header">
          <h4> <b> Le miel d'été </b></h4>
        </div>
        <br> 
        <div class="text-justify" style="padding-left: 30px; padding-right: 30px; float:right;">
          Les trois premiers mois de l’année sont caractérisés par une reprise progressive de la végétation et du développement des ruches. Les premières belles journées procurent aux abeilles du pollen de noisetier et de saule.
        </div>
        <br>
        <div class="text-justify" style="padding-left: 30px; padding-right: 30px; float:right;">
          En avril, avec l’allongement des jours et l’augmentation des températures, les fleurs commencent à produire plus de nectar.
        </div>
        <br>
  
      </div>
      <br> <br>

    <div class="card img-responsive border-white">
        <div class="card-header">
          <h4> <b> Les pots d'Antoine </b></h4>
        </div>
        <br> 
        <div class="text-justify" style="padding-left: 30px; padding-right: 30px; float:right;">
          Les miels de printemps et d'été sont tous deux disponibles dans des pots de 500g ou de 1kg. Les pots sont tous en plastique alimentaire.
        </div>
        <br>
        <div class="text-justify" style="padding-left: 30px; padding-right: 30px; float:right;">
          La quantité de miel produite varie d'année en année, de saison en saison. Le miel est donc distribué dans l'ordre des réservations et dans la limite des stocks disponibles. Nous vous invitons donc à réserver dès maintenant pour la prochaine saison.
        </div>
        <br> <br><br>
        <center>
          <div>
            <% if current_user %>
              <a class="btn btn-warning btn-lg link" href="/reservation/new"> <i class="fa fa-gift" aria-hidden="true"></i>&nbsp;&nbsp; Réservez du miel</a>
            <% else %>
              <a class="btn btn-warning btn-lg link" role="button" aria-pressed="true" data-toggle="modal" data-target="#exampleModal"> <i class="fa fa-gift" aria-hidden="true"></i>&nbsp;&nbsp; Réservez du miel</a>
            <% end %>
          </div>
          <br> <br>
        </center>
      </div>
    </div>
</div>

  

<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100" id="exampleModalLabel">Connectez-vous pour réserver...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-footer justify-content-between" style='text-align:center'>
        
          <div style="padding-top:40px; padding-bottom:40px;">
            Je n'ai pas encore de compte <br><br>
            <a href="/register" class="btn btn-outline-primary" role="button" aria-pressed="true">Je m'inscris</a>
            <br><br>
            ~  OU  ~
            <br><br>
            J'ai déjà un compte <br><br>
            <a href="/login" class="btn btn-outline-primary" role="button" aria-pressed="true">Je me connecte</a>
          </div>
        
      </div>
    </div>
  </div>
</div>