</br>
</br>
</br>
</br>
</br>
<% unless @products_spring.empty? %>
  <h4> Pour la récolte printemps <%=Date.current.year%>, vous pouvez réserver les produits suivants: </h4> </br>
    <% @products_spring.each do |product| %>
      <div>
        <h4> <%= product.description %> </h4>
      </div>
      </br>
    <% end %>
<% end %>

<% unless @products_summer.empty? %>
  <h4> Pour la récolte été <%=Date.current.year%>, vous pouvez réserver les produits suivants: </h4> </br>
  <% @products_summer.each do |product| %>
    <div>
      <h4> <%= product.description %> </h4>
    </div>
    </br>
  <% end %>
<% end %>

